::selection {
  background-color: white;
  color: #372f44; }

@font-face {
  font-family: 'Bebas';
  src: url("../fonts/bebas.eot");
  src: url("../fonts/bebas.eot?#iefix") format("embedded-opentype"), url("../fonts/bebas.woff") format("woff"), url("../fonts/bebas.ttf") format("truetype"), url("../fonts/bebas.svg#bebasregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat.woff") format("woff");
  src: url("../fonts/Montserrat.woff2") format("woff2");
  src: url("../fonts/Montserrat.ttf") format("truetype"); }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

body {
  background: #f2f2f2;
  margin: 0;
  padding: 0; }

#pivx-ticker {
  background: #372f44;
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  margin: 0;
  max-width: 70rem;
  overflow: hidden;
  padding: 0.8rem;
  width: 70rem; }

.pivxTicker__logoWrapper {
  align-items: center;
  background: #372f44;
  box-sizing: border-box;
  display: inline-flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.4rem 1.6rem;
  padding: 2rem; }

.pivxTicker__logo {
  height: 20rem;
  width: auto; }
  @media screen and (max-width: 480px) {
    .pivxTicker__logo {
      height: 10rem;
      width: 12rem; } }

.pivxTicker__tip {
  color: #f2f2f2;
  display: block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  margin: 1rem auto;
  text-align: center; }
  .pivxTicker__tip a {
    color: #f2f2f2;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1); }
    .pivxTicker__tip a:hover {
      color: #8f7eb0; }

.pivxTicker__statWrapper {
  background: #5c4c7c;
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: inline-flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  margin: 1rem;
  max-width: 40rem;
  min-width: 34rem;
  padding: 1.2rem;
  width: auto; }

.pivxTicker__settings {
  display: flex;
  flex: 1 1 100%;
  justify-content: flex-end; }
  .pivxTicker__settings--scale {
    color: #372f44;
    display: flex;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1rem; }
    .pivxTicker__settings--scale span {
      color: #372f44;
      font-family: 'Montserrat', Helvetica, Arial, sans-serif;
      font-size: 1rem;
      text-transform: uppercase; }

.pivxTicker__price {
  color: #f2f2f2;
  display: flex;
  flex: 1 1 100%;
  font-family: 'Bebas';
  font-size: 6.4rem;
  font-weight: bold;
  margin: 0.5rem 2rem 2rem;
  position: relative;
  text-align: center; }
  .pivxTicker__price:after {
    color: #372f44;
    content: 'Price';
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    left: 2.4rem;
    letter-spacing: 0.4px;
    position: absolute;
    text-transform: uppercase;
    top: 100%; }

.pivxTicker__percent {
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Bebas';
  font-size: 3rem;
  font-weight: bold;
  justify-content: flex-start;
  margin: 2rem 1rem;
  position: relative;
  text-align: left; }
  .pivxTicker__percent:after {
    color: #372f44;
    content: '24 hour';
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    left: 2rem;
    letter-spacing: 0.4px;
    position: absolute;
    text-transform: uppercase;
    top: 100%; }

.pivxTicker__volume {
  color: #e6e6e6;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Bebas';
  font-size: 3rem;
  font-weight: bold;
  justify-content: flex-start;
  margin: 2rem 1rem;
  position: relative;
  text-align: left; }
  .pivxTicker__volume:after {
    color: #372f44;
    content: 'volume';
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    left: 1.4rem;
    letter-spacing: 0.4px;
    position: absolute;
    text-transform: uppercase;
    top: 100%; }

.pivxTicker__marketcap {
  color: #e6e6e6;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Bebas';
  font-size: 3rem;
  font-weight: bold;
  justify-content: flex-start;
  margin: 2rem 1rem;
  position: relative; }
  .pivxTicker__marketcap:after {
    color: #372f44;
    content: 'market cap';
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    left: 1.4rem;
    letter-spacing: 0.4px;
    position: absolute;
    text-transform: uppercase;
    top: 100%; }

.pivxTicker__rank {
  color: #e6e6e6;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'Bebas';
  font-size: 3rem;
  font-weight: bold;
  justify-content: flex-start;
  margin: 2rem 1rem;
  position: relative;
  right: 0; }
  .pivxTicker__rank:after {
    color: #372f44;
    content: 'rank';
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    left: 0.2rem;
    letter-spacing: 0.4px;
    position: absolute;
    text-transform: uppercase;
    top: 100%; }

.sm-dollar {
  display: inline;
  font-size: 1.4rem;
  margin: 1rem 0.4rem auto 0;
  max-width: 1.4rem;
  vertical-align: super; }

.lg-dollar {
  font-size: 3rem;
  margin: 1rem 0.4rem auto 0;
  max-width: 2rem;
  width: 2rem; }

.green {
  color: #36c114; }

.red {
  color: #d34646; }

.caret {
  display: inline;
  font-size: 2rem;
  width: 2rem; }
